

.auth_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--auth-background-color);
    overflow: auto;
    padding-block: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.auth_card {
    background: var(--primary-bg-text-color);
    border-radius: 0.5rem;
    padding: max(1.25rem, 1.25rem);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    width: min(31.25rem, 97%);
    margin: auto;
}

.signup-login-link {
    text-align: center;
}