.routes {
  flex: 1;
  padding: 1.25rem;
}

.route_container {
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.add-button {
  background-color: var(--accent-color);
  width: 6.25rem;
  height: 2.5rem;
  color: var(--primary-bg-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 1.25rem;
  margin-left: auto;
  text-decoration: none;
}

.header_route {
  text-align: left;
}