body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }

:root {
  --primary-color: #4CAF50;
  --primary-hover: #e8f5e9;
  --accent-color: #FF5722;
  --hover-background: #e8f5e9;
  --border-color: #ddd;
  --text-color: #333;
  --action-hover-color: #FF7043;
  --form-border-shadow: rgba(99, 99, 99, .2) 0px 2px 8px 0px;
  --border-color:#ddd;
  --primary-bg-text-color: white;
--disbale-background:#f4f4f4;
--disable-color:#999;
--auth-background-color :#f0f4f8
}
