input[type="file"] {
    display: none;
}

.importExpostContainer {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.importExpostContainer button,
.buttonImport {
    padding: 0.625rem 1.5625rem;
    background-color: var(--accent-color);
    color: var(--primary-bg-text-color);
    border: none;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.importExpostContainer button:hover,
.buttonImport:hover {
    transform: translateY(-0.125rem);
}

.importExpostContainer button:focus,
.buttonImport:focus {
    outline: none;
    box-shadow: 0 0 0 0.1875rem rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
    .importExpostContainer {
        gap: 0.9375rem;
    }

    .importExpostContainer button,
    .buttonImport {
        padding: 0.5rem 1.25rem;
        font-size: 0.8125rem;
    }
}

@media (max-width: 480px) {
    .importExpostContainer {
        gap: 0.625rem;
    }

    .importExpostContainer button,
    .buttonImport {
        padding: 0.375rem 0.9375rem;
        font-size: 0.75rem;
    }
}