.custom-button {
    background-color: var(--primary-color);
    color: var(--primary-bg-text-color);
    padding: 0.4375rem 1.25rem;
    border-radius: 0.3125rem;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.spin {
    display: inline-block;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}