.custom-button {
    background-color: var(--primary-color);
    color: white;
    padding: 7px 20px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}


.spin {
    display: inline-block;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}