h2 {
    margin-bottom: 1.25rem;
    text-align: center;
    font-size: 2rem;
}

.form-group {
    margin-bottom: 0.9375rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.125rem;
    color: rgb(73, 72, 72);
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 0.625rem 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid var(--border-color);
}

.submit-button {
    text-align: center;
    width: 100%;
}

.error-text {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.3125rem;
}

.gender-group {
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.gender-group label {
    display: flex;
    flex-direction: row;
}